@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-inter);
  line-height: 1.75;
  font-weight: 400;
  height: 100vh;
  max-height: 100dvh;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}



input,
button,
textarea,
select {
  font: inherit;
}

p {
  @apply break-words text-medium mb-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply break-words pb-4 mt-0 font-black;
  font-family: var(--font-inter-tight);
}

footer {
  @apply text-tiny;
}


.title {
  @apply pt-8;
}



h1 {
  @apply text-3xl md:text-5xl lg:text-6xl pb-8;
}

h2 {
  @apply text-2xl md:text-4xl lg:text-5xl md:pt-8 md:pb-4 pt-4 pb-2;
}

h3,
h4,
h5,
h6 {
  @apply text-xl md:text-2xl lg:text-3xl;
}


ul {
  @apply pb-4 pl-4 list-disc;
}

.animate-checkbox:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

a {
  @apply hover:text-brand-accent duration-500;
}